
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background:rgb(241, 241, 241);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.main{
    display: grid;
    height: 95%;
    width: 95%;
    max-width: 1400px;
    min-height: 650px;
    grid-template-columns: minmax(310px,1fr) minmax(650px,2fr);
}

.main-login-menu{
    background-color: white;
    display: grid;
    grid-template-rows: minmax(200px,1fr) minmax(250,1fr) 1fr 100px;
    border: thin solid rgb(206, 206, 206);
}

.login-cell{
    display: flex;
    flex-flow: column;
    margin: 0 20px;
    /* border-bottom: solid thin black; */
}

.cell-top{
    justify-content: center;
}

.cell-mid{
    justify-content: center;
   
}

.cell-bottom{
    margin-top: 5px;
    justify-content:space-between;
}

input[type='radio']:checked{
    accent-color: black;
}

input[type='radio']{
    margin-right: 5px;
    cursor: pointer;
}

.span{
    font-size: 0.75em;
    color: gray;
    font-weight: 500;
}

.label{
    font-weight: bold;
    font-size: 0.7em;
    margin-bottom: 0.5em;
}

.text-box{
    padding: 12px 20px;
    border: none;
    background: rgb(226, 226, 226);
    margin-bottom: 15px;
}

.text-box:hover{
    background: rgb(216, 216, 216);
}

.text-box:focus{
    outline: none;
}

.horizontal-cell{
    display: flex;
    align-items: center;
    position: relative;
}

.horizontal-cell-bottom{
 justify-content:space-between;
}

.button{
    width: 75%;
    padding: 12px;
    margin: 0 auto;
    background: black;
    box-shadow: 3px 3px 1px #BCBBB9;
    color:#DEC39E;
    
    transition: opacity 0.5s;
    cursor: pointer;
}

.button:hover{
    opacity: 0.85;
}

.button:active{
    opacity: 0.7;
}

.text-but{
    cursor: pointer;
    font-weight: bold;
    font-size: 0.7em;
    margin: 0px;
}

.main-image{ 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.main-image-img{
    width: 100%;
    height: 100%;
}

.forgot{
    position: absolute;
    right: 1%;
    margin: 0;
}



